/*.custom-dropdown {*/
/*    min-width: 100% !important; !* ensures it’s at least as wide as its parent *!*/
/*    background-color: #17a2b8 !important; !* desired background *!*/
/*    !* Optionally, you can also remove any padding if needed *!*/
/*}*/

.custom-dropdown {
    width: 50% !important; /* force dropdown to be 50% wide */
    min-width: 0 !important; /* override Bootstrap's min-width */
}


.transparent-card {
    background-color: rgba(255, 255, 255, 0.8) !important;
}

.fixed-size {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/*teeb curosri näpuks*/
.pointer {
    cursor: pointer;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

nav {
    padding: 30px;
}

nav a {
    font-weight: bold;
    color: #e9ecef;
}

nav a.router-link-exact-active {
    color: #42b983;
}

nav a {
    color: #e9ecef;
    text-decoration: none;
}

/*map border*/
.map-container {
    border: 3px solid #000000; /* Optional - just an example */
}


