/* Modal overlay to cover full screen */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050;
}

.modal-container {
    background: white;
    width: 90%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

/* Adjust Bootstrap modal-content */
.modal-content {
    padding: 20px;
}

/* Ensure the modal title and footer align correctly */
.modal-header,
.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.custom-dropdown {*/
/*    min-width: 100% !important; !* ensures it’s at least as wide as its parent *!*/
/*    background-color: #17a2b8 !important; !* desired background *!*/
/*    !* Optionally, you can also remove any padding if needed *!*/
/*}*/

.custom-badge {
    font-size: 1rem !important;  /* Adjust font size as needed */
    padding: 0.4rem 0.6rem !important;  /* Reduce padding */
    border-radius: 0.5rem !important;  /* Optional: adjust border radius if desired */
}

.trash-icon {
    font-size: 1rem;  /* Adjust this value to make the icon smaller */
    margin-left: 0.5rem; /* optional: add space between the icons */
}

.custom-dropdown {
    width: 50% !important; /* force dropdown to be 50% wide */
    min-width: 0 !important; /* override Bootstrap's min-width */
}


.transparent-card {
    background-color: rgba(255, 255, 255, 0.8) !important;
}

.fixed-size {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/*teeb curosri näpuks*/
.pointer {
    cursor: pointer;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

nav {
    padding: 30px;
}

/* Ühtlustame nav-lingid ja nupud */
nav > a, .nav-button {
    font-weight: bold;
    color: #e9ecef;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    padding: 5px 10px;
}

nav a.router-link-exact-active, .nav-button:hover {
    color: #42b983;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.app-content {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 2rem;
}

/*map border*/
.map-container {
    border: 3px solid #e9ecef; /* Optional - just an example */
}


