.dropdown-item {
    color: #148024 !important;
    font-weight: bold !important;

}

.clear-item {
    color: red !important;
    font-weight: bold !important;

    text-align: center !important;
}

.map-wrapper {
    position: relative;
}

.clear-markers-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000
}

.map-overlay-dropdown {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000; /* Ensures it stays on top */
}

.custom-marker-icon {
    background: transparent; /* Remove default background */
    border: none;
}

.marker-label {
    position: relative;
    /* Set the size of the pin */
    width: 30px;
    height: 30px;
    /* Create the pin shape */
    border: 4px solid #fff;
    border-radius: 50% 50% 50% 0;
    /*transform: rotate(-45deg);*/
    background-color: #007991; /* Or any color you want */

}

/* Standard modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050;
}

/* Standard modal container */
.modal-container {
    background: white;
    width: 90%;
    max-width: 500px;
    border-radius: 8px;
    padding: 20px;
    border: 2px solid green !important;
}

/* Standard modal content */
.modal-content {
    width: 90%;
    max-width: 900px;
    background-color: white;
    /*border-radius: 8px;*/
    padding: 20px;
}

/* Fullscreen modal - väiksema vahega servadest */
.modal-container.is-fullscreen {
    width: 95vw;  /* 95% ekraani laiusest */
    height: 95vh; /* 95% ekraani kõrgusest */
    max-width: 95%;
    max-height: 95%;
    margin: auto; /* Keskendamine */
    padding: 10px; /* Natuke ruumi servades */
    border-radius: 8px; /* Lisame väikese ümarduse */
    background: white; /* Et see ei seguneks taustaga */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Fullscreen modal body */
.modal-content.is-fullscreen {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    padding: 20px;
    background: white; /* Taust puhas */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Pilt modal sees */
.modal-content.is-fullscreen img {
    max-width: 100%;
    max-height: 90vh;
    object-fit: contain;
}
.circular-logo {
    border-radius: 50%;
    border: 2px solid green; /* Optional: adjust border thickness and color */
    object-fit: cover; /* Ensures the image fills the circle nicely */
}

/* Ensure the modal title and footer align correctly */
.modal-header,
.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.custom-dropdown {*/
/*    min-width: 100% !important; !* ensures it’s at least as wide as its parent *!*/
/*    background-color: #17a2b8 !important; !* desired background *!*/
/*    !* Optionally, you can also remove any padding if needed *!*/
/*}*/

.custom-badge {
    font-size: 1rem !important;  /* Adjust font size as needed */
    padding: 0.4rem 0.6rem !important;  /* Reduce padding */
    border-radius: 0.5rem !important;  /* Optional: adjust border radius if desired */
}

.trash-icon {
    font-size: 1rem;  /* Adjust this value to make the icon smaller */
    margin-left: 0.5rem; /* optional: add space between the icons */
    color: firebrick;
}

.custom-dropdown {
    width: 50% !important; /* force dropdown to be 50% wide */
    min-width: 0 !important; /* override Bootstrap's min-width */
}


.transparent-card {
    background-color: rgba(255, 255, 255, 0.8) !important;
}

.fixed-size {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/*teeb curosri näpuks*/
.pointer {
    cursor: pointer;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

nav {
    padding: 30px;
}

/* Ühtlustame nav-lingid ja nupud */
nav > a, .nav-button {
    font-weight: bold;
    color: #e9ecef;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    padding: 5px 10px;
    margin-right: 30px; /* Määrab nuppude vahemaa paremal küljel */
}

nav a.router-link-exact-active, .nav-button:hover {
    color: #42b983;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    scroll-behavior: smooth; /* Tagab sujuva kerimise */
    overflow: auto; /* Tagab, et lehte saab kerida */
    background-image: url('@/assets/background.jpg'); /* Veendu, et rada on õige */
    background-size: cover; /* Või "contain", kui tahad pilti täielikult näha */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* See hoiab tausta paigal kerimise ajal */
}

.app-content {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 2rem;
}

/*map border*/
.map-container {
    border: 3px solid #e9ecef; /* Optional - just an example */
}


div.custom-alert {
    position: relative;
    top: 10px; /* Liigutab alerti veidi allapoole */
    font-size: 21px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 10px;
    background-color: rgb(143, 47, 30) !important; /* Tausta poolläbipaistev */
    color: #f5c6cb; /* Roosa tekst */
    border: 2px solid #f5c6cb; /* Paksem roosa piirjoon */
}
.transparent-card {
    padding: 17px;
}

.textarea-description {
    resize: none;             /* Запрет изменения размера пользователем */
    width: 1200px;            /* Ширина под 120 символов при ширине символа 10px */
    height: 280px;             /* Высота под 4 строки по 20px каждая */
    font-family: 'Courier New', Courier, monospace; /* Моноширинный шрифт для простоты расчёта */
    font-size: 12px;          /* Размер шрифта */
    line-height: 20px;        /* Высота строки */
    overflow: hidden;         /* Скрытие текста, выходящего за пределы поля */
}

.text-description {
    font-size: 20px;
    text-align: justify;
    line-height: 1.2em;
    max-height: 9.6em; /* 4 строки * 1.2em на строку */
    width: 560px;
    overflow-wrap: break-word;
    white-space: pre-wrap; /* Позволяет тексту переноситься и сохраняет пробелы */
    overflow: hidden;
}